@font-face {
    font-family: 'Gotham Book';
    src: local('Gotham Book'), url('../fonts/GothamBook.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Medium';
    src: local('Gotham Medium'), url('../fonts/GothamMedium.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Bold';
    src: local('Gotham Bold'), url('../fonts/GothamBold.woff') format('woff');
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Gotham Book';
    font-size: 14px;
}
.main-wrapper{
    overflow: hidden;
}


.menu .navbar-light .navbar-nav .nav-link {
    color:#96a6a7;
    font-family: 'Gotham Medium';
    
}
.menu .navbar{
    padding: 0;
}
.search a{
    display: inline-block;
	padding: 20px 28px;
	font-size: 24px;
	background: #e2dee0;
	color: #fff;
}
.login a{
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    background: #e94e38;
    padding: 24px 35px;
    font-size: 19px;
    text-decoration: none;
}
.login a::after{
    position: absolute;
    content: "";
    left: 100%;
    top: 0;
    bottom: 0;
    right: -500px;
    background: #e94e38;
}
.login i {
	padding-right: 10px;
	display: inline-block;	
}